@model Biblioteca.Modelos.VariablesUsuarios

@{
    ViewData["Title"] = "Modificar Usuario";
}

<br>

<h1 style="text-align:center"> Modificar Usuario </h1>

<br>

<form asp-action="ModificarUsuario">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <br>

    <div class="form-group">
        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <br>

    <div class="form-group">
        <label asp-for="Teléfono" class="control-label"></label>
        <input asp-for="Teléfono" class="form-control" />
        <span asp-validation-for="Teléfono" class="text-danger"></span>
    </div>

    <br>

    <div class="form-group">
        <label asp-for="DUI" class="control-label"></label>
        <input asp-for="DUI" class="form-control" />
        <span asp-validation-for="DUI" class="text-danger"></span>
    </div>

    <br>

    <div class="form-group mt-3">
        <input type="submit" value="Guardar cambios" class="btn btn-primary">
        <a asp-action="RegistroDeUsuarios" class="btn btn-primary">Volver al registro de usuarios </a>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}