@model RegistroViewModel 
 
@{
    ViewData["Title"] = "Registrarse";
}

<h1>Registrarse: </h1>

<br>

<form asp-action="Registro">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label" style="font-weight: bold">Correo:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <br>

    <div class="form-group">
        <label class="control-label" style="font-weight: bold"> Contraseña: </label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <br>

    <button class="btn btn-primary">Registrate</button>
    <a class="btn btn-success" asp-action="LoginV">Deseo loguearme</a>
</form>

@{
    //para validar el Front End debemos hacer lo siguiente.
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}