@model Biblioteca.Modelos.VariablesLibro

@{
    ViewData["Title"] = "Eliminar Libro";
}

<br>

<h1> Borrar Libro </h1>

<br>

<table>
    <tr>
        <td>
            <b>
                Nombre del usuario:
            </b>
        </td>
        <td>
            <b>
                Apellido del usuario:
            </b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Nombre)
        </td>
        <td>
            @Html.DisplayFor(model => model.Autor)
        </td>
    </tr>
</table>

<br>

<form asp-action="EliminarLibro">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Borrar libro" class="btn btn-danger">
    <a asp-action="RegistroDeLibros" class="btn btn-primary">Volver al registro de usuarios </a>
</form>