@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SinInManager

@if (SinInManager.IsSignedIn(User))
{
    <li style="color:white; font-weight: bold;"> Bienvenido @User.Identity.Name</li>
    <form class="form-inline btn btn-link" style="margin-top: 10px" asp-action="Logout" asp-controller="Login">
        <button type="submit" class="btn btn-primary">Cerrar Sesion</button>
    </form>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Registro">Registro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="LoginV">Login</a>
    </li>
}